* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f5f5f5;
}

.header {
    background-color: #333;
    color: #fff;
}

.container {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: flex;
}
.logo h1{
    padding-top: 30px;
    color: gold;
    font-family:'Poppins', sans-serif;
}
.logo img{
    height: 100px;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 30px;
    margin-right: 5rem;
    font-size: 20px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    transition: transform 0.3s ease;
}

.navbar li a:hover {
    color: gold;
    transform: scale(1.1);
}

img{
    border-radius: 10px;
}

img, .hover-scale {
    transition: transform 0.3s ease;
}

img:hover, .hover-scale:hover {
    transform: scale(1.03);
}


.hero-section {
    background-image: url('assets/background\ img.jpg'); 
    background-size: cover;
    background-position: center;
    height: 90vh;
    position: relative;
    color: #fff;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.box{
    height: 69vh;
    width:47vh;
    border-radius: 10px;
    margin-right: 100px;
    padding-bottom: 2px;
    background-color: white;
    z-index: 20;
}
.hero-section img{
    height: 100%;
    opacity: 0.9;
   border-radius: 10px;
    padding:10px;
    z-index: 200;
}


.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
}

.hero-content {
    position: relative;
    max-width: 600px;
}

.hero-content h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.hero-content h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero-content p {
    margin-bottom: 20px;
    line-height: 1.6;
}

.learn-more {
    background-color: #fff;
    color: #333;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.sep{
    background-color: #f5f5f5;
    padding: 40px;
    text-align: center;
    line-height: 1.9;
}

.overlay{
    background: rgba(0, 0, 0, 0.5);
}

.content{
    width: 90%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
   
    padding: 20px;
}

.content1{
    display: flex;
}

.item{
    border-radius: 15px;
    background-color: rgb(127, 137, 127);
    padding: 15px ;
    border-top-right-radius: 0px;
    border-bottom-right-radius:0px ;
}

.item h1{
    color: goldenrod;
}

.item p{
    text-align: justify;
}

.box1{
   padding: 10px;
    background-color: white;
    margin: 30px;
    border-radius: 15px;
    box-shadow: 2px 2px 18px rgb(15, 15, 15);
    display: flex;

}

.box1 .img img{
    height: 100%;
    border-top-right-radius:15px ;
    border-bottom-right-radius:15px ;

}

.outer-card1{
    display: flex;
    gap: 30px;
}

.card1{
    width: 300px;
    height: 200px;
    padding: 10px ;
    background-color: white;
    border-radius: 15px;
    box-shadow: 2px 2px 14px rgb(39, 39, 39);
    
}

.card1 h3{
    color: goldenrod;
    font-size: 500px;

}

.sub span{
    background-color: rgb(168, 39, 39);
    padding: 25px 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 20px;
    box-shadow: 2px 2px 14px rgb(39, 39, 39);

    
}

.sub{
    margin-bottom:35px ;
}

.about-section {
    background-color: #fff;
    text-align: left;
    background-image: url(assets/bg.avif);
    background-repeat: no-repeat;
    background-size: cover ;
   
}

.about-section h2 {
    font-family: 'Allura', cursive;
    font-size: 36px;
    margin-bottom: 20px;
}

.about-section h3 {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.about-section p {
    font-size: 18px;
    margin-bottom: 20px;
}

.about-section ul {
    list-style-type: disc;
    padding-left: 20px;
}

.about-section ul li {
    font-size: 18px;
    margin-bottom: 10px;
}

.back{
    background-image: url(assets/background3.webp);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    color: white;
    text-align: center;
    padding: 20px;
    line-height: 1.5;
}

.back h1{
    font-size: 60px;
}

.back p{
    font-size: 20px;
}

.services{
    background: rgb(149, 157, 149);
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 60px;
    justify-content: space-evenly;
    padding-bottom: 30px;
}

.card {
    position: relative;
    width: 400px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    background-color: white;
}

.card-img {
    width: 100%;
    height: 100%;
    display: block;
}

.overlay1 {
    width: 340px;
    height: 150px;
    position: absolute;
    top: 10;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.8);
    color: #333;
    display: flex;
    gap: 60px;
    align-items: center;
    justify-content: center;
    padding: 1px 30px;
    margin: 30px;
    text-decoration: none;   
}

.overlay a{
    text-decoration: none;
    color: #333;
}

.overlay1 span{
    font-size: 50px;
    color: goldenrod;
}

.overlay1 h3 {
    font-size: 24px;
    margin-bottom: 10px;    
}

.overlay1 p {
    font-size: 16px;
    line-height: 1.5;
}

.contact-top{
    height: 300px;
    background-color: rgb(149, 157, 149);;
}

.c-card{
    display: flex;
    gap: 90px;
    padding: 50px;
    justify-content: center;
}

.c-in-card{
    width: 300px;
    height: 200px;
    padding: 10px ;
    background-color: white;
    border-radius: 15px;
    box-shadow: 2px 2px 14px rgb(39, 39, 39);
    text-align: justify;
    
}

.c-in-card h3{
    color: goldenrod;
    font-size: 25px;
    line-height: 1.5;
    padding: 5px;
}

.c-sub span{
    background-color: teal;
    padding: 25px 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 25px;
    box-shadow: 2px 2px 14px rgb(39, 39, 39);    
}

.c-sub{
    margin-bottom:35px ;
}

.c-info{
    background-image: url(assets/background4.jpg);
    background-size: cover;
   
}

.c-detail{
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
}

.c-img{
    height: 550px;
    border-radius: 15px;
    background-color: white;

}

.c-img img{
    height: 100%;
    border-radius: 15px;

}

.msg{
    margin-top: 50px;
    line-height: 2.5;
    color: white;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: white;
    outline: none;

}

.form-group input {
    width: 500px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
}
  
.form-group textarea{
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    
}

.form-group input[type="submit"] {
    background-color: brown;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    border: none;
    padding: 10px;
}

.form-group input[type="submit"]:hover {
    background-color: brown;
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    font-size: 14px;
    line-height: 2.5;
   
}

.logo1{
    display: flex;
}

.logo1 h1{
    padding-top: 30px;
    color: gold;
    font-family:'Poppins', sans-serif;
    
}

.logo1 img{
    height: 100px;
}

.outer-footer{
    display: flex;
    justify-content: space-evenly;
}

.f2{
    width: 250px;
}

.footer p {
    font-family: 'Roboto', sans-serif;
}